<% if user_signed_in?%>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<h3 class="side"> Tasks By Date </h3>
				<div class="hr" "row-fluid"><hr /></div>
				<div class="calendar"> Calendar comes here </div>
				<div class="hr" "row-fluid"><hr /></div>
		</div>
		<div class="span9">
			<div class="center hero-unit">
				<p> Text Box comes here </p>
			</div>
		</div>
	</div>
</div>	


<%else%>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<h3 class="side"> What To Do? </h3>
					<div class="hr" "row-fluid"><hr /></div>

					<p class="how">Add Tasks</p>
					<p class="how">Clear Tasks</p>
					<p class="how">Enjoy Rewards</p>

					
					<div class="hr" "row-fluid"><hr /></div>

				<p class="smartass2">Really? You were expecting something more complex than that?</span></p>
				<p class="smartass2">IN A TODO LIST?</p>
			</div>	
	 
		 <!--Sidebar content-->
			<div class="span9">
				<div class="center hero-unit">
					<div class="herowrap">
						<p class="herotext"> We are of the belief that tackling chores should never be boring unrewarding! </p>
						<p class="herotext"> In fact even listing chores, shouldn't feel like a chore.
						<p class="herotext"> You should list chores and complete 'em because it <span class="mainText"><%= link_to '... Feels Good To Do',  "#" %></span></p>
					</div>		  

					<!--<p class="signup" href="#signUp" role="button" data-toggle="modal"> -->
					<%= link_to 'Sign up now!',  new_user_registration_path, class: "btn btn-large btn-primary" %> <!-- </p> -->
					<!-- <p class="smartass"> ^ Our app is so good, that "Sign Up to FeelsGoodToDo" is usually the last task added by our users on similar apps? </p>
					<p class="smartass">Of course, they're never even marked complete. </p> -->

			  </div>
		  </div>
	</div>
<%end%>