<img class="logo" src="assets/Happy.png"/>

<h1 class="logofont">Feels Good To do </h1>
<div class="navbar">
	
	<div class="navbar-inner">
		 <div class="container">
 
<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="divider-vertical"></li>
								<li><%= link_to "Home", root_path %></li>
								<li class="divider-vertical"></li>
								<li><%= link_to "About", about_path %></li>
								<li class="divider-vertical"></li>
							</ul>
							<ul class="nav pull-right" >
								<li class="divider-vertical"></li>
								<li ><%= link_to "Login", about_path %></li>
								<li class="divider-vertical"></li>
							</ul>
						</div>
						</div>

</div>
</div>


